LEDNodeRedFlow
[{"id":"52bd735f.8e3bfc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f4a05d90.93ac5","type":"mqtt in","z":"52bd735f.8e3bfc","name":"Sending message","topic":"ledStatus","qos":"2","broker":"4bf55abb.cef5d4","x":150,"y":160,"wires":[["b16c0dc0.f4874"]],"outputLabels":["1"]},{"id":"faf1f2fe.888a","type":"rpi-gpio out","z":"52bd735f.8e3bfc","name":"Green LED turns on","pin":"12","set":true,"level":"0","freq":"","out":"out","x":880,"y":20,"wires":[]},{"id":"b16c0dc0.f4874","type":"switch","z":"52bd735f.8e3bfc","name":"TurnLEDOnOff","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":160,"wires":[["e220e83c.ae9ad8"],["85882110.fbcf4"]]},{"id":"ff9b56a8.157dc8","type":"rpi-gpio out","z":"52bd735f.8e3bfc","name":"Red LED Turns on","pin":"8","set":true,"level":"0","freq":"","out":"out","x":870,"y":160,"wires":[]},{"id":"e220e83c.ae9ad8","type":"change","z":"52bd735f.8e3bfc","name":"TurnGreenOn","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":80,"wires":[["1bdc7ce3.a53823","faf1f2fe.888a"]],"outputLabels":["1"]},{"id":"85882110.fbcf4","type":"change","z":"52bd735f.8e3bfc","name":"TurnRedOn","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":200,"wires":[["e555fb8f.80ff98","ff9b56a8.157dc8"]]},{"id":"1bdc7ce3.a53823","type":"delay","z":"52bd735f.8e3bfc","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":80,"wires":[["93972fc7.ac469"]]},{"id":"c037d46e.740c28","type":"rpi-gpio out","z":"52bd735f.8e3bfc","name":"GreenLEDTurnsOff","pin":"12","set":true,"level":"0","freq":"","out":"out","x":1290,"y":120,"wires":[]},{"id":"7e6dd6c5.0455f8","type":"rpi-gpio out","z":"52bd735f.8e3bfc","name":"RedLEDOff","pin":"8","set":true,"level":"0","freq":"","out":"out","x":1230,"y":240,"wires":[]},{"id":"e555fb8f.80ff98","type":"delay","z":"52bd735f.8e3bfc","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":240,"wires":[["a97babcc.25b4d8"]]},{"id":"93972fc7.ac469","type":"change","z":"52bd735f.8e3bfc","name":"TurnGreenOff","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":120,"wires":[["c037d46e.740c28"]]},{"id":"a97babcc.25b4d8","type":"change","z":"52bd735f.8e3bfc","name":"Turn Red Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":240,"wires":[["7e6dd6c5.0455f8"]]},{"id":"4bf55abb.cef5d4","type":"mqtt-broker","z":"","name":"Hive","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]